{% extends "base.html" %}
{% block title %}Lista de proveedores{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Listado de proveedores</h1>
    </div>
    <div class="row">
            <div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                <!-- <div class="alert alert-{{ message.tags }}  del-msg message"> -->
                <!-- {{ message|safe }} -->
                <input type="hidden" id="error" value="{{ message|safe }}">
                <!-- </div> -->
                {% endfor %}
                {% endif %}
            </div>
        </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Proveedores</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tabla" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Direccion</th>
                            <th>Mail</th>
                            <th>Telefono</th>
                            <th>Telefono opcional</th>
                            <th>Productos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.nombre }}</td>
                            <td>{{ proveedor.apellidos }}</td>
                            <td>{{ proveedor.direccion }}</td>
                            <td>{{ proveedor.mail }}</td>
                            <td>{{ proveedor.telefono }}</td>
                            <td>{{ proveedor.telefono2 }}</td>
                            <td>
                                <a  class="btn btn-info" data-toggle="modal" data-target="#ModalProveedor_{{ proveedor.id }}"><i class="fas fa-search"></i></a>
                            </td>
                            <td>
                                <a href="{% url 'modificar_proveedor' proveedor.id %}" 
                                class="btn btn-success"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'eliminar_proveedor' proveedor.id %}" 
                                class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for proveedor in proveedores %}
    <!-- Modal -->
    <div class="modal fade" id="ModalProveedor_{{ proveedor.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Productos que vende</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered" id="tabla" width="100%" cellspacing="0">
                        <h3 class="center">Productos</h3>                        
                    {% for producto in proveedor.producto.all %}
                        <p>
                            {{ producto.nombre }} <br>
                        </p>
                    {% endfor %}
                    
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}