<html>
<head>
	{% load static %}
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}">
            
	<title>Chori al Paso</title>
</head>
<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center">Chori al Paso</a>
		    </div>
		</nav>
		<ul id="slide-out" class="sidenav sidenav-fixed">
			  <li><img class="brand-logo responsive-img" src="{% static 'stock/chorilogo.jpg' %}"></li>
		      <li><a href="#!">Primarios</a></li>
		      <li><a href="#!">Secundarios</a></li>
		      <li><a href="#!">Bebidas</a></li>
		      <li><a href="#!">Insumos</a></li>
		      <li><a href="#!">Limpieza</a></li>
		</ul>		   
	</header>

	<main class="main-fondo">

		<div class="container">
			<h4>Ingrese los detalles del producto</h4>
			<form action="agregar_producto" method="post">
				{% csrf_token %}
				<label>Nombre del producto</label>				
				<input type="text" name="nombre" placeholder="nombre del producto">
				<label>Categoria</label>
				<select class="browser-default" name="tipo_categoria">
				  <option value="" disabled selected>Elija la opcion</option>
				  {% for categoria in categorias %}
				  <option value="{{categoria.id_categoria}}"> {{categoria.descripcion_categoria}} </option>
				  {% endfor %}
				</select>	
				<label>Formato</label>
				<select class="browser-default" name="tipo_formato">
				  <option value="" disabled selected>Elija la opcion</option>
				  {% for formato in formatos %}
				  <option value="{{formato.id_formato}}"> {{formato.descripcion_formato}} </option>
				  {% endfor %}
				</select>	
				<label>Cantidad</label>
				<input type="text" name="cantidad_producto" placeholder="cantidad">
				<label>Costo de compra</label>
				<input type="number" name="precio_costo" placeholder="costo de compra">
				<label>Precio de venta</label>
				<input type="number" name="precio_venta" placeholder="precio de venta"> 				
				<input type="submit" class="btn" name="agregar" value="Agregar" >			
				<a class="btn" href="http://127.0.0.1:8000/stock" > Cancelar </a>
			</form>
		</div>	
	</main>
	<footer>
		<div class="footer-copyright">
            <div class="container center">
            	Derechos reservados Chori al paso 2019 ©            
            </div>
          </div>
	</footer>

</body>
</html>