          {% for producto in productos %}
          <tr>
            <td> {{ producto.codigo }} </td>
            <td> {{ producto.nombre }} </td>
            <td> {{ producto.tipo_formato }} </td>
            <td> {{ producto.cantidad_producto }} </td>
            <td> $ {{ producto.precio_costo }} </td>
            <td> $ {{ producto.precio_venta }} </td>
             <td> <a href= "http://127.0.0.1:8000/stock/eliminar?codigo= {{producto.codigo}} " ><i class="material-icons">delete</i></a> <a onclick="openModal('{{ producto.codigo }}','{{ producto.nombre }}','{{ producto.precio_costo }}','{{ producto.precio_venta }}')"><i class="material-icons">edit</i></a>
            </td>
            </tr>   
          {% endfor %}