<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}">
            
	<title>Chori al Paso</title>
</head>
<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center">Chori al Paso</a>
		    </div>
		</nav>
		<ul id="slide-out" class="sidenav sidenav-fixed">
			  <li><img class="brand-logo responsive-img" src="{% static 'stock/chorilogo.jpg' %}"></li>
		      <li><a href="#!">Primarios</a></li>
		      <li><a href="#!">Secundarios</a></li>
		      <li><a href="#!">Bebidas</a></li>
		      <li><a href="#!">Insumos</a></li>
		      <li><a href="#!">Limpieza</a></li>
		</ul>		   
	</header>

	<main class="main-fondo">
		<div class="container ">
			<div class="center container">
				<div class="center row">
					<h4 class=" ">Cabecera</h4>
					<input class="container col l4" placeholder="Buscar">

					<button class="btn-small center col l3">Agrear producto</button>	
				</div>
			</div>
			<table class="container">
	        <thead>
	          <tr>
	              <th>Codigo</th>
	              <th>Nombre</th>
	              <th>Formato</th>
	              <th>Cantidad</th>
	              <th>Precio Costo</th>
	              <th>Precio Venta</th>
	              <th>Opciones</th>

	          </tr>
	        </thead>

	        <tbody>
	          <tr>
	            <td>01</td>
	            <td>choris</td>
	            <td>unidad</td>
	            <td>34</td>
	            <td>$24</td>
	            <td>$50</td>
	            <td><i class="material-icons">create</i><i class="material-icons">delete</i>
</td>
	          </tr>
	          <tr>
	            <td>01</td>
	            <td>choris</td>
	            <td>unidad</td>
	            <td>34</td>
	            <td>$24</td>
	            <td>$50</td>
	            <td><i class="material-icons">create</i><i class="material-icons">delete</i>
</td>
	          </tr>	
	          <tr>
	            <td>01</td>
	            <td>choris</td>
	            <td>unidad</td>
	            <td>34</td>
	            <td>$24</td>
	            <td>$50</td>
	            <td><i class="material-icons">create</i><i class="material-icons">delete</i>
</td>
	          </tr>	
	          <tr>
	            <td>01</td>
	            <td>choris</td>
	            <td>unidad</td>
	            <td>34</td>
	            <td>$24</td>
	            <td>$50</td>
	            <td><i class="material-icons">create</i><i class="material-icons">delete</i>
</td>
	          </tr>	
	          <tr>
	            <td>01</td>
	            <td>choris</td>
	            <td>unidad</td>
	            <td>34</td>
	            <td>$24</td>
	            <td>$50</td>
	            <td><i class="material-icons">create</i><i class="material-icons">delete</i>
</td>
	          </tr>	
	          <tr>
	            <td>01</td>
	            <td>choris</td>
	            <td>unidad</td>
	            <td>34</td>
	            <td>$24</td>
	            <td>$50</td>
	            <td><i class="material-icons">create</i><i class="material-icons">delete</i>
</td>
	          </tr>		          
	        </tbody>
	      </table>
	      <br>
      	  
      </div>

	</main>


	<footer>
		<div class="footer-copyright">
            <div class="container center">
            	Derechos reservados Chori al paso 2019 ©            
            </div>
          </div>
	</footer>

</body>
</html>