<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}">
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="{% static 'stock/main.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

	<title>Chori al paso</title>
</head>
<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center">Chori al Paso</a>
		    </div>
		</nav>
		<ul id="slide-out" class="sidenav sidenav-fixed">
			  <li><img class="brand-logo responsive-img" src="{% static 'stock/chorilogo.jpg' %}"></li>
		      <li><a href="productos" class="waves-effect">Volver a Productos</a></li>

		</ul>		   
	</header>

	<main class="main-fondo">
		<div class="container ">
			<div class="center row">
				<h2 class="cabecera">Proveedores</h2>
				<input class="container" placeholder="Buscar">
				<a href="http://127.0.0.1:8000/stock/agregar_proveedor" class="btn-small center col l3">Agregar proveedor</a>	
			</div>
			<table class="container">
	        <thead>
	          <tr>
	              <th>Nombre</th>
	              <th>Apellido</th>
	              <th>Dirección</th>     
	              <th>Mail</th>
	          </tr>
	        </thead>
			<tbody id="mostrar_producto">
	          {% for proveedor in proveedores %}
	          <tr>
	            <td> {{ proveedor.nombre }} </td>
	            <td> {{ proveedor.apellidos }} </td>
	            <td> {{ proveedor.direccion }} </td>
	            <td> {{ proveedor.mail }} </td>
	            <!--<td> <a href= "http://127.0.0.1:8000/stock/eliminar?codigo= {{proveedor.id_proveedor}} " ><i class="material-icons">delete</i></a> <a onclick="openModal('{{ proveedor.nombre }}','{{ proveedor.precio_costo }}','{{ proveedor.precio_venta }}')"><i class="material-icons">edit</i></a>
				</td> -->
	          </tr>	  
	          {% endfor %}        
	        </tbody>
	      </table>
	    </div>  
	</main>
	<footer>
		<div class="footer-copyright">
            <div class="container center">
            	Derechos reservados Chori al paso 2019 ©            
            </div>
          </div>
	</footer>

</body>
</html>